@import-normalize;

@import url('https://rsms.me/inter/inter.css');
@import "../../CoreUI/variables.scss";

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  color: $default-text-color;
}

a {
  color: $link-text-color;
}

.title {
  color: $blue-500; // #3385FF;
  margin-left: 5em;
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: bold;
}

.box {
  display : inline-block;
  margin-left: 5em;
}

.box Label{
  margin-top: 0.5em;
  color: $gray-400
}
